body{
    background-color: rgb(225, 175, 175);
    font-family: 'Courier New', Courier, monospace;
}
header{
    text-align: center;
    box-sizing: border-box;
    background-color: #ffffff;
    color: rgb(225, 175, 175);
    margin: 20px 2% 2%;
    padding: 50px 0px;
    border-radius: 10px;
}

nav{
    text-align: center;
    box-sizing: border-box;
    background-color: #ffffff;
    color: rgb(21, 19, 19);
    margin: 20px 2% 2%;
    padding: 50px 0px;
    border-radius: 10px;
}
nav h1{
    font-size: 2em;
    margin: 0px;
    color:  rgb(112, 74, 74);
}
  
  input {
    width: 50%;
    height: 50px;
    padding: 30px;
    font-size: 16px;
    margin-bottom: 60px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #a969c8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
